* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.auto-mid {
    width: 1440px;
    margin: 0px auto;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.header {
    padding-top: 21px;
    padding-bottom: 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 115px;
    padding-right: 115px;
    border-bottom: 1px solid #000;
}

.header ul {
    list-style: none;
    display: flex;
}

.header ul li a {
    padding: 4px 10px;
    font-size: 17px;
    font-weight: 300;
    text-decoration: none;
    color: #000;
}

.header ul li a:hover {
    background-color: rgb(161, 160, 160);
}

.logo {
    font-size: 45px;
    font-weight: 400;
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.burger-menu {
    display: none;
}

@keyframes move {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(300px);
    }

    100% {
        transform: translateX(0px);
    }
}

.главная {
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 115px;
    border-bottom: 1px solid #000;
}

.главная .главная_1 {
    width: 393px;
}

.главная_1 h1 {
    margin-top: 235px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 63px;
    margin-right: 17px;
    font-size: 132px;
    font-weight: 400;
}

.главная_1 h3 {
    font-size: 35px;
    margin-bottom: 37px;
    line-height: 50px;
}

.главная_1 a {
    border: 1px solid black;
    padding: 10px 20px;
    background-color: black;
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.главная .аватар1 {
    width: 390px;
    padding-top: 68px;
    padding-bottom: 53px;
}

.аватар1 img {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
}

.главная .главная_2 {
    width: 372px;
}

.главная_2 h1 {
    margin: 300px 114px 20px 10px;
    padding: 15px 15px 15px 0px;
    font-size: 61px;
    font-weight: 500;
    font-style: italic;
}

.главная_2 p {
    margin-left: 10px;
    padding: 15px 15px 0px 0px;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
}

blockquote {
    margin-left: 10px;
    padding: 15px 15px 15px 0px;
    font-size: 17px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 44px;
}

.главная_2 a:hover {
    background-color: rgb(161, 160, 160);
}

.главная_2 a {
    margin-left: 10px;
    border: 1px solid black;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.о_себе {
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 115px;
    border-bottom: 1px solid #000;
}

.о_себе .аватар2 {
    width: 539px;
}

.аватар2 img {
    padding: 70px 0px 90px 0px;
}

.о_себе .о_себе0 {
    width: 602px;
}

.о_себе h2 {
    width: 250px;
    padding: 15px 40px 10px 0px;
    margin: 105px 467px 3px 0px;
    font-size: 45px;
    font-weight: 300;
}

.о_себе hr {
    width: 100px;
    margin-bottom: 30px;
}

b {
    font-size: 20px;
    font-weight: 700;
}

p {
    padding-top: 26px;
    font-size: 20px;
    font-weight: 300;
}

.компетенции ul {
    list-style: disc inside;
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 8px;
}

.о_себе2 h3 {
    font-size: 35px;
    font-weight: 300;
    padding: 10px 177px 8px 0px;
    margin-top: 100px;
    margin-bottom: 8px;
}

.о_себе2 hr {
    width: 40px;
    margin-bottom: 15px;
}

.навыки {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 300;
    padding-top: 8px;
    padding-bottom: 18px;
    margin-bottom: 30px;
}

.навыки ul {
    list-style-type: none;
    list-style-position: inside;
}

.навыки ul li::before {
    content: "→";
    color: #000;
}

.контакты a {
    border: 1px solid black;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: #000000;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.контакты a:hover {
    background-color: rgb(161, 160, 160);
}

.мои_услуги {
    padding-left: 115px;
    padding-right: 115px;
    border-bottom: 1px solid #000;
}

.мои_услуги h2 {
    font-size: 45px;
    font-weight: 300;
    text-transform: capitalize;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 15px;
}

.мои_услуги hr {
    width: 130px;
    margin: auto;
}

.мои_услуги_grid_elements {
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    place-items: center;
}

.мои_услуги_grid_element {
    text-align: center;
    border: #000000 solid 2px;
    width: 370px;
    height: 270px;
}

.мои_услуги_grid_element img {
    height: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    filter: opacity(100%);
}

.мои_услуги_grid_element b {
    font-size: 30px;
    font-weight: 300;
    text-transform: capitalize;
}

.мои_услуги_grid_element p {
    font-size: 30px;
    font-weight: 300;
}

.container {
    display: flex;
    justify-content: center;
}

.light-theme {
    background-color: #fff;
    color: #000;
}

.dark-theme {
    background-color: #121212;
    color: #fff;
}

.мои_услуги button {
    padding: 10px 20px;
    font-size: 16px;
    margin-bottom: 50px;
    cursor: pointer;
    align-items: center;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
    padding: 16px 30px;
    background-color: #000;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.мои_услуги button:active {
    background-color: rgb(161, 160, 160);
}

.портфолио {
    padding: 46px 115px 68px 115px;
    border-bottom: 1px solid #000;
}

.портфолио h2 {
    padding: 18px 15px;
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 300;
}

.портфолио hr {
    width: 130px;
    margin: auto;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.portfolio-item {
    height: 425px;
    width: 370px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ccc;
}

.portfolio-item b {
    padding-top: 20px;
    font-size: 28px;
    font-weight: 300;
}

.filters {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.filters button:hover {
    background-color: rgb(161, 160, 160);
}

.filters-button {
    padding: 10px 20px;
    cursor: pointer;
}

.узнать_больше:active {
    background-color: rgb(161, 160, 160);
}

.узнать_больше {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    font-size: 15px;
    font-weight: 400;
    margin: auto;
    padding: 16px 30px;
    background-color: #000;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 30px;
}

.рекомендации {
    padding: 67px 118px 130px 118px;
    border-bottom: 1px solid #000;
}

.рекомендации h2 {
    padding: 18px 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 300;
}

.рекомендации hr {
    width: 130px;
    margin: auto;
    margin-bottom: 80px;
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-wrapper {
    text-align: center;
    background: #fff;
    width: 130px;
}

.swiper-slide h2 {
    padding-top: 50px;
}

.swiper-slide b {
    padding-top: 30px;
}

.swiper-slide p {
    padding: 50px;
    font-size: 30px;
}

.контакты2 {
    padding: 67px 118px 182px 118px;
    border-bottom: 1px solid #000;
}

.мои_контакты {
    display: flex;
    justify-content: space-between;
}

.мои_контакты .мои_контакты1 {
    width: 550px;
    height: 620px;
}

.мои_контакты .мои_контакты2 {
    width: 550px;
    height: 620px;
}

.контакты2 h2 {
    padding: 18px 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 300;
}

.контакты2 hr {
    width: 130px;
    margin: auto;
    margin-bottom: 64px;
}

.мои_контакты1 {
    border: #000000 solid 2px;
    background-color: #000;
    color: #ffffff;
}

.мои_контакты1 img {
    padding: 38px 45px 8px 45px;
    border-radius: 60px;
}

.мои_контакты1 h3 {
    padding: 8px 45px 5px 45px;
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
}

.мои_контакты1 small {
    padding: 3px 45px 0px 45px;
    font-size: 15px;
    font-weight: 400;
}

.text1 p {
    width: 414px;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 45px 15px 45px;
    line-height: 25px;
}

.email p {
    width: 352px;
    padding: 5px 45px 10px 45px;
    font-size: 15px;
    font-weight: 400;
}

.email a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.phone p {
    width: 352px;
    padding: 0px 45px 39px 45px;
    font-size: 15px;
    font-weight: 400;
}

.phone a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
}

.мои_контакты2 {
    border: #000000 solid 2px;
}

input,
textarea {
    width: 458px;
    margin-top: 40px;
    border: 1px solid #000000;
    font-size: 18px;
    font-weight: 300;
    padding: 5px 10px;
    margin-left: 35px;
    color: #000;
}

input {
    height: 30px;
}

textarea {
    height: 220px;
}

button {
    margin-top: 20px;
    margin-left: 35px;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
    border: 2px solid #000000;
}

.footer_content {
    padding-left: 115px;
    padding-right: 115px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

.social img {
    background-color: #fff;
    width: 30px;
    margin-right: 20px;
    padding: 10px;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.copyright p {
    font-size: 22px;
    font-weight: 500;
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

/*media*/

@media (max-width: 500px) {
    .auto-mid {
        width: 100%;
    }

    .header {
        padding: 10px;
        width: auto;
    }

    .logo {
        padding-left: 230px;
    }

    .header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 10px 0;
        border-top: 1px solid black;
    }

    .header li {
        margin: 10px 0;
        text-align: center;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        float: left;
        cursor: pointer;
    }

    .burger-menu span {
        height: 3px;
        width: 25px;
        background-color: #000;
        margin: 4px 20px;
        transition: 0.3s;
    }

    .header.open nav ul {
        display: flex;
    }

    @keyframes move {
        0% {
            transform: translateX(0);
        }

        50% {
            transform: translateX(0px);
        }

        100% {
            transform: translateX(0);
        }
    }

    .burger-menu.open span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 10px);
    }

    .burger-menu.open span:nth-child(2) {
        opacity: 0;
    }

    .burger-menu.open span:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -10px);
    }

    .главная {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 115px;
        padding-right: 115px;
    }

    .главная.главная_1 {
        margin: 0px;
    }

    .главная_1 h1 {
        margin-top: 25px;
        padding: 0px;
        font-size: 50px;
        font-weight: 300;
    }

    .главная_1 h3 {
        font-size: 20px;
        padding: 0px;
        margin-bottom: 10px;
    }

    .главная_1 a {
        border: 1px solid black;
        padding: 5px 20px;
        background-color: black;
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 0px;
    }

    .главная .аватар1 {
        width: 390px;
        padding-top: 50px;
        padding-bottom: 10px;
    }

    .аватар1 img {
        width: 290px;
        border-top-left-radius: 200px;
        border-top-right-radius: 200px;
    }

    .главная_2 {
        width: 100%;
        margin-bottom: 40px;
    }

    .главная_2 h1 {
        margin: 0px;
        padding: 0px;
        font-size: 40px;
        font-weight: 500;
        font-style: italic;
    }

    .главная_2 p {
        margin-left: 10px;
        padding: 15px 15px 0px 0px;
        font-size: 17px;
        font-weight: 300;
        font-style: italic;
    }

    blockquote {
        margin-left: 10px;
        padding: 5px;
        font-size: 17px;
        font-weight: 300;
        font-style: italic;
        margin-bottom: 20px;
    }

    .главная_2 a {
        border: 1px solid black;
        padding: 5px 20px;
        background-color: rgb(255, 255, 255);
        color: #000000;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .о_себе {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-left: 115px;
        padding-right: 115px;
        border-bottom: 1px solid #000;
    }

    .аватар2 img {
        padding: 30px 0px 10px 0px;
        width: 290px;
    }

    .о_себе0 {
        margin: 0px;
        padding: 0px;
        margin-bottom: 40px;
    }

    .о_себе h2 {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px;
        font-size: 25px;
        font-weight: 300;
    }

    .о_себе hr {
        margin: 0 auto;
        padding: 0px;
        margin-bottom: 20px;
    }

    .о_себе b {
        font-size: 15px;
        font-weight: 700;
        margin: auto;
    }

    .о_себе p {
        padding-top: 15px;
        font-size: 14px;
        font-weight: 300;
        margin: auto;
    }

    .компетенции ul {
        font-size: 13px;
        font-weight: 300;
        padding: 5px;
    }

    .о_себе2 h3 {
        font-size: 25px;
        font-weight: 300;
        padding: 0px;
        margin-top: 30px;
        margin-bottom: 0px;
    }

    .о_себе2 hr {
        width: 100px;
        margin-bottom: 15px;
    }

    .навыки {
        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 300;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .навыки ul li::before {
        content: none;
    }

    .контакты a {
        border: 1px solid black;
        padding: 5px 10px;
        background-color: rgb(255, 255, 255);
        color: #000000;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
    }

    .мои_услуги h2 {
        font-size: 25px;
        font-weight: 300;
        text-transform: capitalize;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 5px;
    }

    .мои_услуги_grid_elements {
        margin-top: 20px;
        margin-bottom: 10px;
        display: grid;
        justify-content: center;
        grid-template-columns: 180px 180px;
        grid-row-gap: 20px;
        grid-column-gap: 30px;

    }

    .мои_услуги_grid_element {
        text-align: center;
        border: #000000 solid 2px;
        width: 200px;
        height: 100px;
    }

    .мои_услуги_grid_element img {
        height: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
        filter: opacity(100%);
    }

    .мои_услуги_grid_element b {
        font-size: 15px;
        font-weight: 300;
        text-transform: capitalize;
    }

    .мои_услуги_grid_element p {
        font-size: 15px;
        font-weight: 300;
        padding-top: 5px;
    }

    .мои_услуги button {
        padding: 5px 10px;
        cursor: pointer;
        align-items: center;
        border: 1px solid #000000;
        font-size: 15px;
        font-weight: 400;
        background-color: #000;
        color: #ffffff;
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-top: 10px;
    }

    .портфолио {
        padding: 10px 0px 30px 0px;
        border-bottom: 1px solid #000;
    }

    .портфолио h2 {
        padding-bottom: 10px;
        text-align: center;
        text-transform: capitalize;
        font-size: 25px;
        font-weight: 300;
    }

    .портфолио hr {
        width: 130px;
        margin: auto;
    }

    .portfolio {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
        column-gap: 0px;
        margin: 0px;
        padding: 0px 20px;
    }

    .portfolio-item {
        height: 170px;
        width: 150px;
        background-color: #f0f0f0;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border: 1px solid #ccc;
        margin: auto;
    }

    .portfolio-item img {
        width: 130px;
        padding-top: 10px;
    }

    .portfolio-item b {
        padding-top: 5px;
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 300;
        text-align: center;
    }

    .filters {
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
    }

    .filters button:hover {
        background-color: rgb(161, 160, 160);
    }

    .filters-button {
        margin: auto;
        font-size: 12px;
        padding: 5px 5px;
        cursor: pointer;
        border: 1px solid #000000;
    }

    .узнать_больше:active {
        background-color: rgb(161, 160, 160);
    }

    .узнать_больше {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #000000;
        font-size: 15px;
        font-weight: 400;
        margin: auto;
        padding: 5px 10px;
        background-color: #000;
        color: #ffffff;
        text-transform: uppercase;
        margin-top: 30px;
    }

    .рекомендации {
        padding: 10px 0px 30px 0px;
        border-bottom: 1px solid #000;
    }

    .рекомендации h2 {
        padding-bottom: 10px;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 300;
    }

    .рекомендации hr {
        width: 130px;
        padding: 0px;
        margin: auto;
        margin-bottom: 20px;
    }

    .swiper {
        width: 450px;
        height: 320px;
    }

    .swiper-slide img {
        top: 5px;
    }

    .swiper-slide h2 {
        padding-top: 20px;
    }

    .swiper-slide p {
        padding: 10px;
        font-size: 15px;
    }

    .контакты2 {
        padding: 10px 0px 10px 0px;
        border-bottom: 1px solid #000;
    }

    .мои_контакты {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .контакты2 h2 {
        padding: 10px 10px;
        text-align: center;
        text-transform: capitalize;
        font-size: 30px;
        font-weight: 300;
    }

    .контакты2 hr {
        width: 130px;
        margin: auto;
        margin-bottom: 30px;
    }

    .мои_контакты1 {
        text-align: center;
        padding: 0px;
        margin: 0px;
        justify-content: center;
    }

    .мои_контакты1 img {
        width: 350px;
        padding: 20px;
        border-radius: 60px;
    }

    .мои_контакты .мои_контакты1 {
        width: 400px;
        height: 480px;
        margin-bottom: 30px;
    }

    .мои_контакты1 h3 {
        font-size: 20px;
        font-style: italic;
    }

    .мои_контакты1 small {
        font-size: 15px;
        font-weight: 400;
    }

    .text1 p {
        font-size: 15px;
        line-height: 20px;
        padding: auto;
        width: 300px;
    }

    .email p {
        font-size: 15px;
        font-weight: 400;
        padding: 5px 0px;
        margin: auto;
        align-items: center;
    }

    .email a {
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
    }

    .phone p {
        font-size: 15px;
        font-weight: 400;
        padding: 0px;
        margin: auto;
        text-align: center;
    }

    .phone a {
        color: #ffffff;
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
    }

    .мои_контакты .мои_контакты2 {
        width: 400px;
        height: 420px;
        margin-bottom: 30px;
    }

    .мои_контакты2 {
        border: #000000 solid 2px;
    }

    input,
    textarea {
        width: 355px;
        margin-top: 20px;
        border: 1px solid #000000;
        font-size: 15px;
        font-weight: 300;
        padding: 5px 5px;
        margin-left: 15px;
        color: #000;
    }

    input {
        height: 20px;
    }

    textarea {
        height: 150px;
    }

    button {
        margin-top: 20px;
        margin-left: 15px;
        font-size: 18px;
        font-weight: 500;
        padding: 5px;
        border: 1px solid #000000;
    }

    .footer_content {
        padding-left: 35px;
        padding-right: 35px;
        display: flex;
        justify-content: space-between;
        height: 50px;
        align-items: center;
        background-color: #000000;
        color: #ffffff;
    }

    .social img {
        background-color: #fff;
        width: 10px;
        margin-right: 0px;
        padding: 10px;
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: none;
        animation-timing-function: none;
    }

    @keyframes bounce {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(0px);
        }
    }

    .copyright p {
        font-size: 10px;
        font-weight: 20px;
        animation-name: bounce;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}